@font-face {
	font-family: 'Maison Neue';
	src:
		url(../fonts/maisonneue-book.woff),
		url(../fonts/maisonneue-book.woff2);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src:
		url(../fonts/maisonneue-bold.woff),
		url(../fonts/maisonneue-bold.woff2);
	font-weight: bold;
	font-style: normal;
}
